body {
	margin :0;
}

	header {
		background-color : #000429;
		height:500px;
	}

		.imgtexte {
			height:450px;
			width:70%;
			background-color:;
			margin-left:auto;
			margin-right:auto;
		}

			.imgwearefinickyhumans {
				margin-top:-10px;			}


	.navflex {
		background-color:#000429;
		height:110px;
		padding:10px;
		display:flex;
		justify-content: space-around;
		font-family: 'Fjalla One', sans-serif;
		}

		.flexmenu1 {
			list-style: none;
			background-color:purple;
			display:flex;
			justify-content: space-around;
			width:20%;
			height:50px;
			margin-top:50px;
			margin-left:7%;

		}

			.flexli {
				background-color:blue;
				margin-left:0;
			}

				.amenu {
					text-decoration:none;
					font-size:40px;
					color:white;
				}

				.amenu:hover {
					color :#F20574;
				}


		.logo {
			background-color:red;
			width:150px;
			height:100px;
			margin-top:;
		}

		.flexmenu2 {
			list-style: none;
			background-color:purple;
			display:flex;
			justify-content: space-between;
			width:20%;
			height:50px;
			margin-top:50px;

		}

			.flexli1 {
				background-color:blue;
				justify-content: space-around;
			}

	.section1 {
		height:400px;
		background-color : #F20574;
		padding :10px;
		display:flex;
		flex-direction:column;
		align-items: center;
	}

		h2 {
			color:white;
			font-family: 'Fjalla One', sans-serif;
			font-size: 40px;
			
		}

		.paragraphe {
			color:white;
			font-size:20px;
			
		}

	.section2 {
		height:200px;
		background-color : pink;
		padding :10px;
		display:flex;
		flex-direction:column;
		align-items: center;
	}

	footer {
		height:300px;
		background-color:#000429;
		padding :10px;
		display:flex;
		flex-direction:column;
		align-items: center;
	}

