body {
	margin :0;
}

header {
	background-color : blue;
	height: 500px;
}

ul {
	list-style: none;
	
}

.section1 {
	height:200px;
	background-color : grey;
}

.section2 {
	height:200px;
	background-color : green;
}

.section3 {
	height:200px;
	background-color : red;
}


